.box{
  width: 100%;
  height: 500px;
  background-color: #54453c;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.attractions__topic{  
  display: flex;
  align-items: center;   
}
.attractions__topic-title{
font-size: 100px;

  color: #fff;
    font-weight: 500;
}
.mapbox{
  display: flex;
  justify-content: space-around;
  padding: 3%;
  height: auto;
  color: bisque;
 font-family:'瀨戶字體';
  font-size: 40px;
}

.pic1{
  background-image: url("../image/attractions01.jpg");
  
}

.pic3{
  background-image: url("../image/attractions02.jpg");

}

.pic5{
  background-image: url("../image/attractions04.jpg");
}

.pic7{
  background-image: url("../image/attractions06.jpg");
}


.travelMap__wrapper{
  width: 70%;
  
}
.travelMap{
 width: 100%;
// max-height: 100%;
}

@media (max-width: 1060px){
 
  .mapbox{
    flex-direction: column-reverse;
    gap: 30px;
     font-size: 32px;
     align-items: end;
  }
  .travelMap__wrapper{
     width: 85%;
    align-self: center;
  }
}

@media (max-width: 768px){
  .attractions__topic{
    height: 400px;
  }
 .attractions__topic-title{
    font-size: 80px;
    
  }}